<span style="font-weight: bold">{{actorName}}</span> {{localize 'MP.attacks'}}
<span style="font-weight: bold">{{targetName}}</span> {{localize 'MP.With'}}
<span style="font-weight: bold">{{attackName}}</span>

{{#if showTarget}}
    ({{localize 'MP.Target'}}: <span style="font-weight: bold">{{targetNum}} - {{#if targetName}}{{else}}{{localize 'MP.TargetDefenses'}}{{/if}}</span>)
{{/if}}

{{#if showBonus}}
    ({{localize 'MP.ToHitBonus'}}: <span style="font-weight: bold">{{toHitBonus}} - {{localize 'MP.TargetDefenses'}}</span>)
{{/if}}

<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{attackRoll.formula}}</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{attackRoll.dice.[0].formula}}</span>

                        <span class="part-total">{{attackRoll.dice.[0].total}}</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die d20 {{rollMinMax}}">{{attackRoll.dice.[0].total}}</li>
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">{{attackRoll.total}}</h4>
    </div>
</div>

{{#if isCrit}}<div style="font-weight: bold">{{localize 'MP.PossibleCrit'}}!</div>{{/if}}
{{#if isFumble}}<div style="font-weight: bold">{{localize 'MP.PossibleFumble'}}!</div>{{/if}}

{{#if targetName}}
{{#if success}}
{{localize 'MP.AttackHits'}}
{{else}}
{{localize 'MP.AttackMisses'}}
{{/if}}
{{else}}
{{localize 'MP.Damage'}}
{{/if}}


<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{dmgRoll.formula}}</div>
        <div class="dice-tooltip">
            {{#each dmgRoll.dice as |die id|}}
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{die.formula}}</span>

                        <span class="part-total">{{die.total}}</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die d{{die.faces}}">{{die.total}}</li>
                    </ol>
                </div>
            </section>
            {{/each}}
        </div>
        <h4 class="dice-total">{{dmgRoll.total}}</h4>
    </div>
</div>

{{ localize "MP.DamageType" }}: <span style="font-weight: bold">{{ localize dmgType }} {{#if dmgSubtype}}
    ({{dmgSubtype}}) {{/if}}</span>
{{#if knockBack}} <br /><span style="font-weight: bold">{{localize 'MP.PossibleKnockback'}}</span>{{/if}}
{{#if showRollWith}}
<br />{{targetName}} {{localize "MP.CanRollWithUpTo"}} {{rollWith}} {{localize "MP.points"}}
{{/if}}