<form>
    {{#if targetName}}
	<div class="form-group">
        {{localize 'MP.Modifier'}}: <br>
        <input name="mod" type="number" data-dtype="Number" value="0">
    </div>
    {{/if}}

    <div class="form-group">
        <label class="checkbox" title="{{ localize 'MP.Push'}}">
            <input type="checkbox" name="push">
            {{localize 'MP.Push'}} (+2 {{ localize 'MP.damage' }}, -2 {{localize 'MP.power'}})
        </label>
    </div>

    {{#if showDeductPower}}
    <div class="form-group">
        <label class="checkbox" title="{{ localize 'MP.AutoDeductPower'}}">
            <input type="checkbox" name="autodeduct" checked />
            {{ localize 'MP.AutoDeductPower'}}
        </label>
    </div>
    {{/if}}
</form>
