<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>  
    </header>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize 'MP.Description' }}</a>
        <a class="item" data-tab="details">{{ localize 'MP.Details' }}</a>
        <a class="item" data-tab="rules">{{ localize 'MP.Rules' }}</a>
    </nav>
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="descgrid">
                <div>
                    {{localize 'MP.Abbreviations.CharacterPoints'}}
                    <input name="system.cpcost" type="number" value="{{system.cpcost}}" data-dtype="Number" title="{{ localize 'MP.CharacterPointsCost' }}" />

                    {{localize 'MP.Abbreviations.InventingPoints'}}
                    <input name="system.ipcost" type="number" value="{{system.ipcost}}" data-dtype="Number" title="{{ localize 'MP.InventingPointsCost' }}" />
                </div>
                <div class="desccolumn">
                    {{localize 'MP.Description'}}
                    <textarea class="desctext" name="system.description">{{system.description}}</textarea>
                </div>
            </div>
        </div>


        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <div class="detailgrid">
                <!-- row start -->
                <div></div>
                <div></div>

                <div class="colheader1 separator">
                    {{ localize 'MP.Abbreviations.BaseCharacteristics'}} {{ localize 'MP.Adjustments'}}
                </div>                
                <div class="colheader2">
                    {{ localize 'MP.Other'}} {{ localize 'MP.Adjustments'}}
                </div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Strength.abbr'}}
                </div>
                <div title="{{ localize 'BC.Strength.fullname'}}" class="separator">
                    <input name="system.stbonus" type="number" value="{{system.stbonus}}" data-dtype="Number" />
                </div>
                <div>
                    {{ localize 'MP.ToHit'}}
                </div>
                <div title="{{ localize 'MP.ToHitDesc'}}">
                    <input name="system.tohitbonus" type="number" value="{{system.tohitbonus}}" data-dtype="Number" />
                </div>
                <div>
                    <label class="checkbox" title="{{ localize 'MP.UsesChargesDesc'}}">
                        <input type="checkbox" name="system.usescharges" {{checked system.usescharges}}>
                        {{ localize 'MP.UsesChargesShort'}}
                    </label>
                </div>
                <div>
                    <input name="system.chargesused" type="number" value="{{system.chargesused}}" data-dtype="Number" placeholder="{{ localize 'MP.Used'}}" />/<input name="system.charges" type="number" value="{{system.charges}}" data-dtype="Number" placeholder="{{ localize 'MP.Max'}}" />
                </div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Endurance.abbr'}}
                </div>
                <div title="{{ localize 'BC.Endurance.fullname'}}" class="separator">
                    <input name="system.enbonus" type="number" value="{{system.enbonus}}" data-dtype="Number" />
                </div>

                <div>
                    {{ localize 'MP.Abbreviations.PhysicalDefense'}}
                </div>
                <div title="{{ localize 'MP.PhysicalDefense'}}">
                    <input name="system.physdefbonus" type="number" value="{{system.physdefbonus}}" data-dtype="Number" />
                </div>

                <div>
                    <label class="checkbox" title="{{ localize 'MP.IsGearDesc'}}">
                        <input type="checkbox" name="system.isgear" {{checked system.isgear}}>
                        {{ localize 'MP.IsGear'}}
                    </label>
                </div>
                <div></div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Agility.abbr'}}  
                </div>
                <div title="{{ localize 'BC.Agility.fullname'}}" class="separator">
                    <input name="system.agbonus" type="number" value="{{system.agbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Abbreviations.MentalDefense'}}</div>
                <div title="{{ localize 'MP.MentalDefense'}}">
                    <input name="system.mentdefbonus" type="number" value="{{system.mentdefbonus}}" data-dtype="Number" />
                </div>

                <div>
                    <label class="checkbox" title="{{ localize 'MP.MultiInitiative'}}">
                        <input type="checkbox" name="system.multiinit" {{checked system.multiinit}}>
                        {{ localize 'MP.Abbreviations.MultiInitiative'}}
                    </label>
                </div>
                <div></div>

                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Intelligence.abbr'}}
                </div>
                <div title="{{ localize 'BC.Intelligence.fullname'}}" class="separator">
                    <input name="system.inbonus" type="number" value="{{system.inbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Power'}}</div>
                <div title="{{ localize 'MP.Power'}}">
                    <input name="system.powerbonus" type="number" value="{{system.powerbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Initiative'}}</div>
                <div title="{{ localize 'MP.Initiative'}}">
                    <input name="system.initbonus" type="number" value="{{system.initbonus}}" data-dtype="Number" />
                </div>


                <!-- row end -->

                <!-- row start -->
                <div >
                    {{ localize 'BC.Cool.abbr'}}
                </div>
                <div title="{{ localize 'BC.Cool.fullname'}}" class="separator">
                    <input name="system.clbonus" type="number" value="{{system.clbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.HitPoints'}}</div>
                <div title="{{ localize 'MP.HitPoints'}}">
                    <input name="system.hpbonus" type="number" value="{{system.hpbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Luck'}}</div>
                <div title="{{ localize 'MP.Luck'}}">
                    <input name="system.luckbonus" type="number" value="{{system.luckbonus}}" data-dtype="Number" />
                </div>
                <!-- row end -->


                <!-- row start -->
                <div >
                    
                </div>
                <div class="separator">
                </div>

                <div>{{ localize 'MP.Inventing'}}</div>
                <div title="{{ localize 'MP.InventingPoints'}}">
                    <input name="system.ipbonus" type="number" value="{{system.ipbonus}}" data-dtype="Number" />
                </div>

                <div></div>
                <div></div>
                <!-- row end -->

            </div>
        </div>

        {{!-- Mechanics Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            <div class="ruletab">
                <!-- {{localize 'MP.Rules'}} -->
                {{editor enrichedRules target="system.rules" editable=editable button=true}}
            </div>
        </div>

    </section>
</form>
