<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}" />
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="attack-grid">

            <div></div>
            <div>{{localize 'MP.ToHit'}}</div>
            <div></div>
            <div></div>
            <div>{{localize 'MP.Damage'}}</div>



            <div>
                {{localize 'MP.Attribute'}}:
            </div>
            <div>
                <select name="data.attribute">
                    {{#select data.attribute}}
                    {{#each config.AttributeTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div></div>
            <div>
                {{localize 'MP.Formula'}}
            </div>
            <div>
                <input name="data.dmgroll" type="text" value="{{data.dmgroll}}" />
            </div>


            <div>
                {{#if data.tohit}}{{localize 'MP.Target'}}:{{/if}}
            </div>
            <div>
                {{#if data.tohit}}{{data.tohit}}-{{/if}}
            </div>
            <div></div>
            <div>
                {{localize 'MP.Type'}}
            </div>
            <div>
                <select name="data.dmgtype">
                    {{#select data.dmgtype}}
                    {{#each config.DamageTypes as |name type|}}
                    <option value="{{name}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div></div>
            <div></div>
            <div></div>
            <div>{{localize 'MP.Subtype'}}</div>
            <div><input name="data.dmgsubtype" type="text" value="{{data.dmgsubtype}}" /></div>


            <div> {{localize 'MP.PowerCost'}}</div>
            <div><input name="data.powercost" type="number" value="{{data.powercost}}" /></div>
            <div></div>
            <div></div>
            <div>
                <label class="checkbox" title="{{ localize 'MP.KnockbackQ'}}">
                    <input type="checkbox" name="data.knockback" {{checked data.knockback}}>
                    {{ localize 'MP.KnockbackQ'}}
                </label>
            </div>

            <div>&nbsp;</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>


        </div>

        {{#if isowned}}
        {{localize 'MP.ToHitBonuses'}}
        <div class="bonus-side-by-side">

            <div>

                <div class="bonus-list">
                    <div class="bonus-grid">
                        <div class="item-name item-header header-text background-col">{{localize 'MP.Applied'}}</div>
                        <div class="item-name item-header header-text background-col">{{localize 'ITEM.TypeAbility'}}
                        </div>
                        <div class="item-name item-header header-text background-col">{{localize 'MP.Bonus'}}</div>

                        {{#each appliedabilities as |item id|}}
                        <h4 class="item-name background-col rollable remove-bonus" data-itemid="{{item.id}}">
                            {{localize 'MP.Remove'}}
                        </h4>
                        <h4 class="item-name background-col">{{item.name}}</h4>
                        <h4 class="item-name background-col">{{item.bonus}}</h4>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div>
                <div class="bonus-list">
                    <div class="bonus-grid">
                        <div class="item-name item-header header-text background-col">{{localize 'MP.Available'}}</div>
                        <div class="item-name item-header header-text background-col">{{localize 'ITEM.TypeAbility'}}
                        </div>
                        <div class="item-name item-header header-text background-col">{{localize 'MP.Bonus'}}</div>

                        {{#each availabilities as |item id|}}
                        <h4 class="item-name background-col rollable apply-bonus" data-itemid="{{item.id}}">
                            {{localize 'MP.Apply'}}
                        </h4>
                        <h4 class="item-name background-col">{{item.name}}</h4>
                        <h4 class="item-name background-col">{{item.bonus}}</h4>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}


    </section>
</form>