<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}" />
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="attack-grid">
            <div>
                {{localize 'MP.ToHit'}}:
            </div>
            <div>
                {{localize 'MP.Attribute'}}
            </div>
            <div>
                <select name="data.attribute">
                    {{#select data.attribute}}
                    {{#each config.AttributeTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div></div>
            <div>
                {{#if mp.tohit}}{{localize 'MP.Target'}}{{/if}}
            </div>
            <div>
                {{#if mp.tohit}}{{data.tohit}}{{/if}}
            </div>

            <div>&nbsp;</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div>
                {{localize 'MP.Damage'}}:
            </div>
            <div>
                {{localize 'MP.Formula'}}
            </div>
            <div>

                <input name="data.dmgroll" type="text" value="{{data.dmgroll}}" />
            </div>
            <div></div>
            <div></div>
            <div>
                <label class="checkbox" title="{{ localize 'MP.KnockbackQ'}}">
                    <input type="checkbox" name="data.knockback" {{checked data.knockback}}>
                    {{ localize 'MP.KnockbackQ'}}
                </label>
            </div>

            <div></div>
            <div>
                {{localize 'MP.Type'}}
            </div>
            <div>
                <select name="data.dmgtype">
                    {{#select data.dmgtype}}
                    {{#each config.DamageTypes as |name type|}}
                    <option value="{{name}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div></div>
            <div>
                {{localize 'MP.Subtype'}}
            </div>
            <div>

                <input name="data.dmgsubtype" type="text" value="{{data.dmgsubtype}}" />
            </div>

            <div>&nbsp;</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>


            <div></div>
            <div>
                {{localize 'MP.PowerCost'}}
            </div>
            <div>

                <input name="data.powercost" type="number" value="{{data.powercost}}" />
            </div>

        </div>
        <div class="bonus-grid">
            list of related abilities w/bonuses goes here
        </div>
    </section>
</form>