<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" class="charimage" />


        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'MP.Actor.CharName'}}" />
            </h1>

            <div class="header-stats">
                <div class="type-indicator">
                    {{typeAbbr}}
                </div>

                <div>
                    {{localize 'MP.HitPts'}}
                    <input name="system.hitpts.value" type="number" value="{{system.hitpts.value}}" />/
                    <span class="important-stat">{{system.hitpts.max}}</span>
                </div>

                <div>
                    {{localize 'MP.Power'}}
                    <input name="system.power.value" type="number" value="{{system.power.value}}" />/
                    <span class="important-stat">{{system.power.max}}</span>
                </div>

                <div>
                    {{localize 'MP.Defenses'}}:
                </div>

                <div>

                    {{localize 'MP.Physical'}}
                    <span class="important-stat">{{system.physicaldefense}}</span>
                </div>

                <div>
                    {{localize 'MP.Mental'}}
                    <span class="important-stat">{{system.mentaldefense}}</span>
                </div>

                <div>
                    <span class="rollable initroll">{{localize 'MP.Initiative'}}</span>
                    <span class="important-stat">{{system.initiative}}</span>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="stats">{{ localize 'MP.Stats' }}</a>
        <a class="item" data-tab="bio">{{ localize 'MP.Bio' }}</a>
        <a class="item" data-tab="story">{{ localize 'MP.Story' }}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Stats Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <div class="stat-outer-grid">
                <div>
                    <div class="bc-grid">

                        <!-- row start -->
                        <div>{{localize 'MP.CPs'}}</div>
                        <div>{{localize 'MP.Stat'}}</div>
                        <div>{{localize 'MP.Score'}}</div>
                        <div>{{localize 'MP.Save'}}</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><input name="system.basecharacteristics.st.cp" type="number"
                                value="{{system.basecharacteristics.st.cp}}" /></div>
                        <div><span title="{{localize 'MP.Abbreviations.BaseHandToHand'}}" class="rollable genericroll" data-roll="{{system.hth}}" data-stat="{{localize 'MP.Abbreviations.BaseHandToHand'}}">
                            {{localize 'BC.Strength.abbr'}}
                            </span>
                        </div>
                        <div>{{system.basecharacteristics.st.value}}</div>
                        <div></div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><input name="system.basecharacteristics.en.cp" type="number"
                                value="{{system.basecharacteristics.en.cp}}" /></div>
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Endurance.fullname'}}"
                                data-target="{{system.basecharacteristics.en.save}}">{{localize
                                'BC.Endurance.abbr'}}</span></div>
                        <div>{{system.basecharacteristics.en.value}}</div>
                        <div>{{system.basecharacteristics.en.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><input name="system.basecharacteristics.ag.cp" type="number"
                                value="{{system.basecharacteristics.ag.cp}}" /></div>
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Agility.fullname'}}"
                                data-target="{{system.basecharacteristics.ag.save}}">{{localize
                                'BC.Agility.abbr'}}</span></div>
                        <div>{{system.basecharacteristics.ag.value}}</div>
                        <div>{{system.basecharacteristics.ag.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><input name="datsystema.basecharacteristics.in.cp" type="number"
                                value="{{system.basecharacteristics.in.cp}}" /></div>
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Intelligence.fullname'}}"
                                data-target="{{system.basecharacteristics.in.save}}">{{localize
                                'BC.Intelligence.abbr'}}</span></div>
                        <div>{{system.basecharacteristics.in.value}}</div>
                        <div>{{system.basecharacteristics.in.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><input name="system.basecharacteristics.cl.cp" type="number"
                                value="{{system.basecharacteristics.cl.cp}}" /></div>
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Cool.fullname'}}"
                                data-target="{{system.basecharacteristics.cl.save}}">{{localize
                                'BC.Cool.abbr'}}</span></div>
                        <div>{{system.basecharacteristics.cl.value}}</div>
                        <div>{{system.basecharacteristics.cl.save}}-</div>
                        <!-- row end -->
                    </div>
                    <div class="cp-grid">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>

                        <!-- row start -->
                        <div><input name="system.base_cp" type="number" value="{{system.base_cp}}" /></div>
                        <div>{{localize 'MP.BaseCP'}}</div>
                        <!-- row end -->


                        <!-- row start -->
                        <div></div>
                        <div>{{localize 'MP.EarnedXP'}} <input name="system.earned_xp" type="number"
                                value="{{system.earned_xp}}" /></div>
                        <!-- row end -->

                        <!-- row start -->
                        <div class="totalcp">{{system.spent_xp}}</div>
                        <div>{{localize 'MP.SpentXP'}}</div>
                        <!-- row end -->

                        <!--
                        <div>{{system.base_stats_cp}}</div>
                        <div>{{localize 'MP.Stats'}}</div>

                        <div>{{system.abilities_cp}} /></div>
                        <div>{{localize 'MP.Abilities'}}</div>
                        -->

                        <div class="divider-top"></div>
                        <div class="divider-top"></div>


                        <!-- row start -->
                        <div class="totalcp">{{system.total_cp}}</div>
                        <div>{{localize 'MP.TotalCP'}}</div>
                        <!-- row end -->

                    </div>
                    <div class="other-grid">
                        <div>
                            {{localize 'MP.Carry'}}
                        </div>
                        <div>
                            {{system.carry}} {{localize "MP.Abbreviations.Pounds"}}
                        </div>

                        <div>
                            <span class="rollable timed-rest">{{localize 'MP.Healing'}}</span>
                        </div>
                        <div>
                            {{system.healing}}
                        </div>

                        <div>
                            <span class="rollable genericroll" data-roll="{{system.hth}}" data-stat="{{localize 'MP.Abbreviations.BaseHandToHand'}}">{{localize 'MP.Abbreviations.BaseHandToHand'}}</span>
                        </div>
                        <div>
                            {{system.hth}}
                        </div>
                        <div>
                            <span class="rollable genericroll" data-roll="{{system.mass}}" data-stat="{{localize 'MP.Mass'}}">{{localize 'MP.Mass'}}</span>
                        </div>
                        <div>
                            {{system.mass}}
                        </div>

                        <div>
                            <span class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'MP.Luck'}}" data-rolltype="{{localize 'MP.Roll'}}"
                                data-target="{{system.luck}}">{{localize 'MP.Luck'}}</span>
                        </div>
                        <div>
                            {{system.luck}}-
                        </div>
                        <div>
                            <span class="rollable genericroll" data-roll="{{system.wealth}}" data-stat="{{localize 'MP.Wealth'}}">{{localize 'MP.Wealth'}}</span>
                        </div>
                        <div>
                            <input name="system.wealth" type="text" value="{{system.wealth}}" />
                        </div>


                    </div>
                </div>
                <div>

                    <!-- abilities list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-points abilitycol1 header-text">{{localize 'MP.Abbreviations.CharacterPoints'}}</div>
                            <div class="item-name abilitycol2 header-text">{{localize 'MP.Ability'}}</div>
                            <div class="item-name abilitycol3 header-text">{{localize 'MP.Charges'}}</div>
                            <div class="item-points abilitycol4 header-text">{{localize 'MP.Abbreviations.InventingPoints'}}</div>
                            <div class="item-controls abilitycol5">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="ability"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each abilities as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-points abilitycol1">{{item.system.cpcost}}</div>
                            <h4 class="item-name abilitycol2">
                                <a class="item-control item-chat" data-type="ability"
                                    title="{{localize 'MP.ShowDescription'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-name abilitycol3">
                                {{#if item.system.usescharges}}
                                {{item.system.chargesused}}/{{item.system.charges}}
                                <a class="item-control item-usecharge" title="{{localize 'MP.UseCharge'}}"><i
                                        class="fas fa-minus"></i></a>
                                <a class="item-control item-resetcharges" title="{{localize 'MP.ResetCharges'}}"><i
                                        class="fas fa-sync"></i></a>
                                {{/if}}
                            </div>
                            <div class="item-points abilitycol4">{{item.system.ipcost}}</div>
                            <div class="item-controls abilitycol5">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                                <a class="item-control item-info" title="{{localize 'MP.ShowRules'}}"
                                    data-type="ability"><i class="fas fa-info-circle"></i></a>
                            </div>
                        </li>
                        {{/each}}
                        <li class="item flexrow">
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                        </li>
                        <li class="item flexrow">
                            <div class="abilitycol1">{{system.ability_cp}}</div>
                            <div class="abilitycol2">{{localize 'MP.Totals'}}</div>
                            <div class="abilitycol3"></div>
                            <div class="abilitycol4">{{system.used_ip}}</div>
                            <div class="abilitycol5">/ {{system.avail_ip}} {{localize 'MP.TotalIP'}}</div>
                        </li>
                    </ol>

                    <!-- attacks list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-image attackcol1 header-text"></div>
                            <div class="item-name attackcol2 header-text">{{localize 'ITEM.TypeAttack'}}</div>
                            <div class="item-roll attackcol3 header-text">{{localize 'MP.ToHit'}}</div>
                            <div class="item-formula attackcol4 header-text">{{localize 'MP.Abbreviations.Damage'}}</div>
                            <div class="item-name attackcol5 header-text">{{localize "MP.Abbreviations.DamageType"}}</div>
                            <div class="item-roll attackcol6 header-text">{{localize "MP.Abbreviations.Knockback"}}</div>
                            <div class="item-controls attackcol7">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="attack"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each attacks as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="attackcol1">
                                <span class="rollable attackroll" data-item-id="{{item._id}}">
                                    <div class="roll-image" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                                    
                                </span>
                            </div>
                            <h4 class="item-name attackcol2">{{item.name}}</h4>
                            <div class="item-roll attackcol3">{{item.system.tohit}}-</div>
                            <div class="item-formula attackcol4">{{item.system.dmgroll}}</div>
                            <div class="item-name attackcol5">{{localize item.system.dmgtype}}</div>
                            <div class="item-roll attackcol6">{{#if item.system.knockback}} Y {{else}} N {{/if}}</div>
                            <div class="item-controls attackcol7">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>


                    <!-- protections list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-name protectcol1 header-text">{{localize 'ITEM.TypeProtection'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Kinetic'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Energy'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Bio'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Entropy'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Psychic'}}</div>
                            <div class="item-name protectcol-other header-text">{{localize 'MP.Abbreviations.Other'}}</div>
                            <div class="item-controls protectcol-controls">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="protection"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each protections as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name protectcol1">{{item.name}}</h4>
                            <div class="item-name protectcol-middle">{{item.system.kinetic}}</div>
                            <div class="item-name protectcol-middle">{{item.system.energy}}</div>
                            <div class="item-name protectcol-middle">{{item.system.bio}}</div>
                            <div class="item-name protectcol-middle">{{item.system.entropy}}</div>
                            <div class="item-name protectcol-middle">{{item.system.psychic}}</div>
                            <div class="item-name protectcol-other">
                                {{item.system.other}}
                                {{#if item.system.otherdesc}} ({{item.system.otherdesc}}) {{/if}}
                            </div>
                            <div class="item-controls protectcol-controls">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>


                    <!-- movements list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-name header-text movementcol1">{{localize 'ITEM.TypeMovement'}} ({{localize
                                'MP.Inches'}})</div>
                            <div class="item-name header-text movementcol-middle">{{localize 'MP.Speed'}}</div>
                            <div class="item-name header-text movementcol-middle">{{localize 'MP.Accel'}}/{{localize 'MP.Max'}}</div>
                            <div class="item-controls movementcol-controls">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="movement"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each movements as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name movementcol1">{{item.name}}</h4>
                            <div class="item-name movementcol-middle">{{#if (ismoveconstant system.moveratetype)}}{{item.system.calcmoverate}}{{/if}}</div>
                            <div class="item-name movementcol-middle">{{#unless (ismoveconstant system.moveratetype)}}{{item.system.accel}}/{{item.system.top}}{{/unless}}</div>
                            <div class="item-controls movementcol-controls">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>

            <div class="caps-container">
                <div class="caps">
                    <div>{{localize 'MP.Caps'}}: {{localize 'MP.BCs'}}: {{system.caps.bcs}}</div>
                    <div>{{localize 'MP.Ability'}}: {{system.caps.ability}} </div>
                    <div>{{localize 'MP.Dmg'}}: {{system.caps.dmg}}</div>
                    <div>{{localize 'MP.GEAR'}}: {{localize 'MP.Break'}}: {{system.gear.break}}</div>
                    <div>{{localize 'MP.Take'}}: {{system.gear.take}}</div>
                    <div>{{localize 'MP.Disarm'}}: {{system.gear.disarm}}</div>
                    <div>{{localize 'MP.GBC'}}: {{system.gear.gbc}}</div>
                </div>
            </div>
        </div>

        {{!-- Bio Tab --}}
        <div class="tab" data-group="primary" data-tab="bio">
            <div class="bio">
                <div class="bio-grid">
                    <!-- row 1 -->
                    <div>
                        {{localize 'MP.TrueID'}}
                    </div>
                    <div>
                        <input name="system.trueID" type="text" value="{{system.trueID}}" />
                    </div>
                    <div></div>
                    <div>
                        {{localize 'MP.Side'}}
                    </div>
                    <div>
                        <input name="system.side" type="text" value="{{system.side}}" />
                    </div>


                    <!-- row 2 -->
                    <div>
                        {{localize 'MP.Species'}}
                    </div>
                    <div>
                        <input name="system.species" type="text" value="{{system.species}}" />
                    </div>
                    <div></div>
                    <div>
                        {{localize 'MP.Motivation'}}
                    </div>
                    <div>
                        <input name="system.motivation" type="text" value="{{system.motivation}}" />
                    </div>

                    <!-- row 3 -->
                    <div>
                        {{localize 'MP.Culture'}}
                    </div>
                    <div>
                        <input name="system.culture" type="text" value="{{system.culture}}" />
                    </div>
                    <div></div>
                    <div>
                        {{localize 'MP.Gender'}}
                    </div>
                    <div>
                        <input name="system.gender" type="text" value="{{system.gender}}" />
                    </div>

                    <!-- row 4 -->
                    <div>
                        {{localize 'MP.Birthplace'}}
                    </div>
                    <div>
                        <input name="system.birthplace" type="text" value="{{system.birthplace}}" />
                    </div>
                    <div></div>
                    <div>
                        {{localize 'MP.Age'}}
                    </div>
                    <div>
                        <input name="system.age" type="number" value="{{system.age}}" data-dtype="number" />
                    </div>

                    <!-- row 5 -->
                    <div>
                        {{localize 'MP.OriginType'}}
                    </div>
                    <div>
                        <input name="system.origintype" type="text" value="{{system.origintype}}" />
                    </div>
                    <div></div>
                    <div>
                        {{localize 'MP.Weight'}}
                    </div>
                    <div>
                        <input name="system.weight" type="number" value="{{system.weight}}" /> {{localize "MP.Abbreviations.Pounds"}}
                    </div>



                    <!-- row 5 -->

                    <div>
                        {{localize 'MP.LegalStatus'}}
                    </div>
                    <div>
                        <input name="system.legalstatus" type="text" value="{{system.legalstatus}}" />
                    </div>
                    <div></div>
                    <div>

                    </div>
                    <div>

                    </div>



                    <!-- row  -->

                    <div>
                        {{localize 'MP.SecurityClearance'}}
                    </div>
                    <div>
                        <input name="system.hasclearance" type="checkbox" {{checked system.hasclearance}} />{{#if system.hasclearance}}{{system.clearance}}{{/if}}
                    </div>
                    <div></div>
                    <div>

                    </div>
                    <div>

                    </div>


                </div>
                <div class="backgrounds-grid">
                    <!-- backgrounds list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-name header-text background-col">{{localize 'ITEM.TypeBackground'}}</div>
                            <div class="item-controls backgroundcol-controls">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="background"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each backgrounds as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name background-col">{{item.name}}</h4>
                             <div class="item-controls backgroundcol-controls">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>


        </div>

        {{!-- Story Tab --}}
        <div class="tab story" data-group="primary" data-tab="story">
            {{editor enrichedStory target="system.story" button=true editable=editable}}
        </div>



    </section>
</form>