<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}" />
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="move-body">

            <div>
                <div>{{localize 'MP.MoveRateType'}}</div>
                <select name="system.moveratetype">
                    {{#select system.moveratetype}}
                    {{#each config.MoveRateTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="move-subgrid {{#unless (ismoveconstant system.moveratetype)}}hidden{{/unless}}">

                <div>
                    {{localize 'MP.UseMovementFormulas'}}:
                </div>
                <div>
                    <select name="system.moverateformula">
                        {{#select system.moverateformula}}
                        {{#each config.MoveRateFormulas as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>



                <div>
                    {{localize 'MP.MoveRate'}}:
                </div>
                <div>
                    {{#if (isformulamanual system.moverateformula)}}
                        <input name="system.moverate" type="text" value="{{system.moverate}}" data-dtype="Number"
                            title="{{ localize 'MP.MoveRate' }}" />
                    {{else}}
                        {{system.calcmoverate}}
                    {{/if}}
                    {{localize 'MP.Inches'}}
                </div>

            </div>
            <div class="move-subgrid {{#if (ismoveconstant system.moveratetype)}}hidden{{/if}}">
                <div>
                    {{localize 'MP.Acceleration'}}:
                </div>
                <div>
                    <input name="system.accel" type="text" value="{{system.accel}}"
                        title="{{ localize 'MP.Acceleration' }}" />
                    {{localize 'MP.Inches'}}
                </div>
                <div>
                    {{localize 'MP.TopSpeed'}}:
                </div>
                <div>
                    <input name="system.top" type="text" value="{{system.top}}" title="{{ localize 'MP.TopSpeed' }}" />
                    {{localize 'MP.Inches'}}
                </div>


            </div>
        </div>
    </section>
</form>