<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}" />
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="prot-grid">
            <div>{{localize 'MP.Kinetic'}}</div>
            <div>{{localize 'MP.Energy'}}</div>
            <div>{{localize 'MP.Bio'}}</div>
            <div>{{localize 'MP.Entropy'}}</div>
            <div>{{localize 'MP.Psychic'}}</div>

            <div>
                <input name="data.kinetic" type="number" value="{{data.kinetic}}" data-dtype="Number"
                    title="{{ localize 'MP.Kinetic' }}" />
            </div>

            <div>
                <input name="data.energy" type="number" value="{{data.energy}}" data-dtype="Number"
                    title="{{ localize 'MP.Energy' }}" />
            </div>

            <div>
                <input name="data.bio" type="number" value="{{data.bio}}" data-dtype="Number"
                    title="{{ localize 'MP.Bio' }}" />
            </div>

            <div>
                <input name="data.entropy" type="number" value="{{data.entropy}}" data-dtype="Number"
                    title="{{ localize 'MP.Entropy' }}" />
            </div>

            <div>
                <input name="data.psychic" type="number" value="{{data.psychic}}" data-dtype="Number"
                    title="{{ localize 'MP.Psychic' }}" />
            </div>

            <div class="other-row">
                {{localize 'MP.Other'}}
                <input name="data.other" type="number" value="{{data.other}}" data-dtype="Number"
                    title="{{ localize 'MP.Other' }}" /><input name="data.otherdesc" type="text" value="{{data.otherdesc}}" />
            </div>

        </div>
    </section>
</form>