<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" class="charimage" />


        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'MP.Actor.CharName'}}" />
            </h1>

            <div class="header-stats">
                <div class="type-indicator">
                    {{typeAbbr}}
                </div>

                <div>
                    {{localize 'MP.HitPts'}}
                    <input name="data.hitpts.value" type="number" value="{{data.hitpts.value}}" />/
                    <span class="important-stat">{{data.hitpts.max}}</span>
                </div>

                <div>
                    {{localize 'MP.Power'}}
                    <input name="data.power.value" type="number" value="{{data.power.value}}" />/
                    <span class="important-stat">{{data.power.max}}</span>
                </div>

                <div>
                    {{localize 'MP.TurnRate'}}
                    <span class="important-stat">{{data.turnrate}}</span>
                </div>

                <div></div>

                <div>
                    <span class="rollable initroll">{{localize 'MP.Initiative'}}</span>
                    <span class="important-stat">{{data.initiative}}</span>
                </div>
            </div>
        </div>
    </header>


    <section class="sheet-body">
        <div class="tab stats" data-group="primary">
            <div class="stat-outer-grid">
                <div>
                    <div class="veh-other-grid">
                        <!-- row start -->
                        <div>{{localize 'MP.BasicCost'}}</div>
                        <div><input name="data.basic_cost" type="number" value="{{data.basic_cost}}" /></div>
                        <!-- row end -->

                        <!-- row start -->
                        <div>{{localize 'MP.TechCostAdj'}}</div>
                        <div><input name="data.techcostadjustment" type="number" value="{{data.techcostadjustment}}" />
                        </div>
                        <!-- row end -->

                        <!-- row start -->
                        <div>{{localize 'MP.SystemSpaces'}}</div>
                        <div>{{data.spaces}}</div>
                        <!-- row end -->


                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div class="bc-grid-vehicle">
                        <!-- row start -->
                        <div>{{localize 'MP.Stat'}}</div>
                        <div>{{localize 'MP.Score'}}</div>
                        <div>{{localize 'MP.Save'}}</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><span title="{{localize 'MP.Abbreviations.BaseHandToHand'}}" class="rollable genericroll"
                                data-roll="{{data.hth}}" data-stat="{{localize 'MP.Abbreviations.BaseHandToHand'}}">
                                {{localize 'BC.Strength.abbr'}}
                            </span>
                        </div>
                        <div>{{data.basecharacteristics.st.value}}</div>
                        <div></div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Endurance.fullname'}}"
                                data-target="{{data.basecharacteristics.en.save}}">{{localize
                                'BC.Endurance.abbr'}}</span></div>
                        <div>{{data.basecharacteristics.en.value}}</div>
                        <div>{{data.basecharacteristics.en.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Agility.fullname'}}"
                                data-target="{{data.basecharacteristics.ag.save}}">{{localize
                                'BC.Agility.abbr'}}</span></div>
                        <div>{{data.basecharacteristics.ag.value}}</div>
                        <div>{{data.basecharacteristics.ag.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Intelligence.fullname'}}"
                                data-target="{{data.basecharacteristics.in.save}}">{{localize
                                'BC.Intelligence.abbr'}}</span></div>
                        <div>{{data.basecharacteristics.in.value}}</div>
                        <div>{{data.basecharacteristics.in.save}}-</div>
                        <!-- row end -->

                        <!-- row start -->
                        <div><span title="{{ localize 'MP.RollSave'}}" class="rollable saveroll" data-roll="d20"
                                data-stat="{{localize 'BC.Cool.fullname'}}"
                                data-target="{{data.basecharacteristics.cl.save}}">{{localize
                                'BC.Cool.abbr'}}</span></div>
                        <div>{{data.basecharacteristics.cl.value}}</div>
                        <div>{{data.basecharacteristics.cl.save}}-</div>
                        <!-- row end -->
                    </div>
                    <div class="veh-other-grid">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>{{localize 'MP.Handling'}}</div>
                        <div>{{data.handling}}</div>
                        <div>{{localize 'MP.Profile'}}</div>
                        <div>{{data.profile}}</div>
                        <div>{{localize 'MP.Weight'}}</div>
                        <div>{{data.weight}}</div>
                        <div>
                            <span class="rollable genericroll" data-roll="{{data.hth}}"
                                data-stat="{{localize 'MP.Abbreviations.BaseHandToHand'}}">{{localize
                                'MP.Abbreviations.BaseHandToHand'}}</span>
                        </div>
                        <div>
                            {{data.hth}}
                        </div>
                        <div>
                            <span class="rollable genericroll" data-roll="{{data.mass}}"
                                data-stat="{{localize 'MP.Mass'}}">{{localize 'MP.Mass'}}</span>
                        </div>
                        <div>
                            {{data.mass}}
                        </div>
                        <div>
                            <span class="rollable genericroll" data-roll="{{data.explosion}}"
                                data-stat="{{localize 'MP.Explosion'}}">{{localize 'MP.Explosion'}}</span>
                        </div>
                        <div>
                            {{data.explosion}}
                        </div>
                        <div>{{localize 'MP.Area'}}</div>
                        <div>{{data.explosionarea}}</div>
                    </div>
                </div>
                <div>
                    <div class="vehicle-detail-grid">
                        <div>{{localize 'MP.Model'}}:</div>
                        <div><input name="data.model" type="text" value="{{data.model}}" /></div>
                        <div></div>
                        <div>{{localize 'MP.Operator'}}:</div>
                        <div><input name="data.operator" type="text" value="{{data.operator}}" /></div>
                        <div></div>
                        <div>
                            <label class="checkbox" title="{{ localize 'MP.Base'}}">
                                <input type="checkbox" name="data.is_base" {{checked data.is_base}}>
                                {{ localize 'MP.Base'}}
                            </label>
                        </div>
                    </div>

                    <!-- vehicle systems list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-points vehsyscol1 header-text">{{localize 'MP.Cost'}}</div>
                            <div class="item-name vehsyscol2 header-text">{{localize 'MP.Abbreviations.SysSpaces'}}
                            </div>
                            <div class="item-name vehsyscol3 header-text">{{localize 'MP.Profile'}}</div>
                            <div class="item-points vehsyscol4 header-text">{{localize 'MP.Hits'}}</div>
                            <div class="item-points vehsyscol5 header-text">{{localize 'MP.Abbreviations.Damage'}}</div>
                            <div class="item-points vehsyscol6 header-text">{{localize 'MP.Abbreviations.Points'}}</div>
                            <div class="item-points vehsyscol7 header-text">{{localize 'MP.VehicleSystemsMods'}}</div>
                            <div class="item-points vehsyscol8 header-text"></div>
                            <div class="item-controls vehsyscol9">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="vehiclesystem"><i class="fas fa-plus"></i> {{localize
                                    'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each vehiclesystems as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-points vehsyscol1">{{item.data.cost}}</div>
                            <div class="item-points vehsyscol2">{{item.data.systemspaces}}</div>
                            <div class="item-points vehsyscol3">{{item.data.profile}}</div>
                            <div class="item-points vehsyscol4">{{item.data.hits}}</div>
                            <div class="item-points vehsyscol5">
                                <input name="item.data.dmg" class="inline-editbox dmg-edit" type="number"
                                    value="{{item.data.dmg}}" onClick="this.select();" data-field="data.dmg" />
                            </div>
                            <div class="item-points vehsyscol6">{{item.data.points}}</div>
                            <h4 class="item-name vehsyscol7">
                                <a class="item-control item-chat" data-type="ability"
                                    title="{{localize 'MP.ShowDescription'}}">
                                    {{item.name}}
                                </a>
                            </h4>
                            <div class="item-name vehsyscol8">
                                {{#if item.data.usescharges}}
                                {{item.data.chargesused}}/{{item.data.charges}}
                                <a class="item-control item-usecharge" title="{{localize 'MP.UseCharge'}}"><i
                                        class="fas fa-minus"></i></a>
                                <a class="item-control item-resetcharges" title="{{localize 'MP.ResetCharges'}}"><i
                                        class="fas fa-sync"></i></a>
                                {{else if item.data.indpower}}
                                {{item.data.powervalue}}/{{item.data.powermax}}
                                <a class="item-control item-useindpower" title="{{localize 'MP.UseIndPower'}}"><i
                                        class="fas fa-minus"></i></a>
                                <a class="item-control item-resetindpower" title="{{localize 'MP.ResetIndPower'}}"><i
                                        class="fas fa-sync"></i></a>
                                {{else if item.data.indpower}}

                                {{/if}}

                            </div>
                            <div class="item-points vehsyscol9">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                                <a class="item-control item-info" title="{{localize 'MP.ShowRules'}}"
                                    data-type="ability"><i class="fas fa-info-circle"></i></a>
                            </div>
                        </li>
                        {{/each}}
                        <li class="item flexrow">
                            <div class="vehsyscol1">0</div>
                            <div class="vehsyscol2">{{data.spacesLeft}}</div>
                            <div class="vehsyscol3"></div>
                            <div class="vehsyscol4"></div>
                            <div class="vehsyscol5"></div>
                            <div class="vehsyscol6"></div>
                            <div class="vehsyscol7 remaining">{{localize 'MP.RemainingSpaces'}}</div>
                            <div class="vehsyscol8"></div>
                            <div class="vehsyscol9"></div>
                        </li>
                        <li class="item flexrow">
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                            <div class="divider-top"></div>
                        </li>
                        <li class="item flexrow">
                            <div class="vehsyscol1">{{data.total_cp}}</div>
                            <div class="vehsyscol2"></div>
                            <div class="vehsyscol3"></div>
                            <div class="vehsyscol4"></div>
                            <div class="vehsyscol5"></div>
                            <div class="vehsyscol6"></div>
                            <div class="vehsyscol7"></div>
                            <div class="vehsyscol8"></div>
                            <div class="vehsyscol9"></div>
                        </li>
                    </ol>

                    <!-- attacks list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-image attackcol1 header-text"></div>
                            <div class="item-name attackcol2 header-text">{{localize 'ITEM.TypeAttack'}}</div>
                            <div class="item-roll attackcol3 header-text">{{localize 'MP.ToHit'}}</div>
                            <div class="item-formula attackcol4 header-text">{{localize 'MP.Abbreviations.Damage'}}
                            </div>
                            <div class="item-name attackcol5 header-text">{{localize "MP.Abbreviations.DamageType"}}
                            </div>
                            <div class="item-roll attackcol6 header-text">{{localize "MP.Abbreviations.Knockback"}}
                            </div>
                            <div class="item-controls attackcol7">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="vehicleattack"><i class="fas fa-plus"></i> {{localize
                                    'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each vehicleattacks as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="attackcol1">
                                <span class="rollable attackroll" data-item-id="{{item._id}}">
                                    <div class="roll-image" role="button" aria-label="{{item.name}}"
                                        style="background-image: url('{{item.img}}')"></div>

                                </span>
                            </div>
                            <h4 class="item-name attackcol2">{{item.name}}</h4>
                            <div class="item-roll attackcol3">{{item.data.tohitbonus}}</div>
                            <div class="item-formula attackcol4">{{item.data.dmgroll}}</div>
                            <div class="item-name attackcol5">{{localize item.data.dmgtype}}</div>
                            <div class="item-roll attackcol6">{{#if item.data.knockback}} Y {{else}} N {{/if}}</div>
                            <div class="item-controls attackcol7">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>


                    <!-- protections list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-name protectcol1 header-text">{{localize 'ITEM.TypeProtection'}}</div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Kinetic'}}
                            </div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Energy'}}
                            </div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Bio'}}
                            </div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Entropy'}}
                            </div>
                            <div class="item-name protectcol-middle header-text">{{localize 'MP.Abbreviations.Psychic'}}
                            </div>
                            <div class="item-name protectcol-other header-text">{{localize 'MP.Abbreviations.Other'}}
                            </div>
                            <div class="item-controls protectcol-controls">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="protection"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each protections as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name protectcol1">{{item.name}}</h4>
                            <div class="item-name protectcol-middle">{{item.data.kinetic}}</div>
                            <div class="item-name protectcol-middle">{{item.data.energy}}</div>
                            <div class="item-name protectcol-middle">{{item.data.bio}}</div>
                            <div class="item-name protectcol-middle">{{item.data.entropy}}</div>
                            <div class="item-name protectcol-middle">{{item.data.psychic}}</div>
                            <div class="item-name protectcol-other">
                                {{item.data.other}}
                                {{#if item.data.otherdesc}} ({{item.data.otherdesc}}) {{/if}}
                            </div>
                            <div class="item-controls protectcol-controls">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>


                    <!-- movements list -->
                    <ol class="item-list">
                        <li class="item flexrow item-header">
                            <div class="item-name header-text movementcol1">{{localize 'ITEM.TypeMovement'}} ({{localize
                                'MP.Inches'}})</div>
                            <div class="item-name header-text movementcol-middle">{{localize 'MP.Speed'}}</div>
                            <div class="item-name header-text movementcol-middle">{{localize 'MP.Accel'}}/{{localize
                                'MP.Max'}}</div>
                            <div class="item-controls movementcol-controls">
                                <a class="item-control item-create" title="{{localize 'MP.CreateItem'}}"
                                    data-type="movement"><i class="fas fa-plus"></i> {{localize 'MP.AddButton'}}</a>
                            </div>
                        </li>

                        {{#each movements as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name movementcol1">{{item.name}}</h4>
                            <div class="item-name movementcol-middle">{{#if (ismoveconstant
                                data.moveratetype)}}{{item.data.calcmoverate}}{{/if}}</div>
                            <div class="item-name movementcol-middle">{{#unless (ismoveconstant
                                data.moveratetype)}}{{item.data.accel}}/{{item.data.top}}{{/unless}}</div>
                            <div class="item-controls movementcol-controls">
                                <a class="item-control item-edit" title="{{localize 'MP.EditItem'}}"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'MP.DeleteItem'}}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>

                        <div class="vehscale-container">
                                <div>{{localize 'MP.VehicleScaleTravel'}}:</div>
                                <div>{{localize 'MP.1st'}} {{localize 'MP.Acceleration'}}: <input name="data.firstaccel"
                                        type="number" value="{{data.firstaccel}}" /></div>
                                <div>{{localize 'MP.MapInchesPerHex'}}: <input name="data.inchesperhex" type="number"
                                        value="{{data.inchesperhex}}" /></div>
                            
                        </div>

                        <div class="travelrates-container">
                                <div>{{localize 'MP.TravelRates'}}:</div>
                                <div>1 {{localize 'MP.Acceleration'}}: {{data.travelrates.accel1}}</div>
                                <div>2 {{localize 'MP.Acceleration'}}: {{data.travelrates.accel2}}</div>
                                <div></div>
                                <div>{{localize 'MP.Speed'}} {{localize 'MP.Normal'}} {{localize 'MP.Max'}}:
                                    {{data.travelrates.speednormalmax}} </div>
                                <div>{{localize 'MP.Speed'}} {{localize 'MP.Pushed'}} {{localize 'MP.Max'}}:
                                    {{data.travelrates.speedpushedmax}} </div>
                                <div></div>
                                <div>{{localize 'MP.Flight'}} {{localize 'MP.Normal'}} {{localize 'MP.Max'}}:
                                    {{data.travelrates.flightnormalmax}} </div>
                                <div>{{localize 'MP.Flight'}} {{localize 'MP.Pushed'}} {{localize 'MP.Max'}}:
                                    {{data.travelrates.flightpushedmax}} </div>
                        </div>

                </div>

            </div>

        </div>


    </section>
</form>