<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>

        <div class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'MP.Name'}}"/>
            </h1>
            <div class="item-subtitle">
                <h4 class="item-type">
                    {{itemType}}
                </h4>
            </div>
        </div>  
    </header>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize 'MP.Description' }}</a>
        <a class="item" data-tab="details">{{ localize 'MP.Details' }}</a>
        <a class="item" data-tab="rules">{{ localize 'MP.Rules' }}</a>
    </nav>
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
           <div class="vsdescgrid">
                <div>
                    {{localize 'MP.Damage'}}
                    <input name="system.dmg" type="number" value="{{system.dmg}}" data-dtype="Number" title="{{ localize 'MP.Damage' }}" />
                </div>
                <div class="desccolumn">
                    {{localize 'MP.Description'}}
                    <textarea class="desctext" name="system.description">{{system.description}}</textarea>
                </div>
            </div>
        </div>


        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="vscalcgrid">
                <div>
                    {{localize 'MP.Cost'}}
                    <input name="system.cost" type="number" value="{{system.cost}}" data-dtype="Number" title="{{ localize 'MP.Cost' }}" />
                </div>
                <div>
                    {{localize 'MP.Abbreviations.SysSpaces'}}
                    <input name="system.systemspaces" type="number" value="{{system.systemspaces}}" data-dtype="Number" title="{{ localize 'MP.SystemSpaces' }}" />
                </div>
                <div></div>
                <div>{{localize 'MP.Profile'}}</div>
                <div>{{system.profile}}</div>
                <div></div>
                <div>{{localize 'MP.Hits'}}</div>
                <div>{{system.hits}}</div>
                <div></div>
                <div>{{localize 'MP.Abbreviations.Points'}}</div>
                <div>{{system.points}}</div>
            </div>
            <br/>
            <div class="detailgrid">
                <!-- row start -->
                <div></div>
                <div></div>

                <div class="colheader1 separator">
                    {{ localize 'MP.Abbreviations.BaseCharacteristics'}} {{ localize 'MP.Adjustments'}}
                </div>                
                <div class="colheader2">
                    {{ localize 'MP.Other'}} {{ localize 'MP.Adjustments'}}
                </div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Strength.abbr'}}
                </div>
                <div title="{{ localize 'BC.Strength.fullname'}}" class="separator">
                    <input name="system.stbonus" type="number" value="{{system.stbonus}}" data-dtype="Number" />
                </div>
                <div>
                    {{ localize 'MP.ToHit'}}
                </div>
                <div title="{{ localize 'MP.ToHitDesc'}}">
                    <input name="system.tohitbonus" type="number" value="{{system.tohitbonus}}" data-dtype="Number" />
                </div>
                <div>
                    <label class="checkbox" title="{{ localize 'MP.UsesChargesDesc'}}">
                        <input type="checkbox" name="system.usescharges" {{checked system.usescharges}}>
                        {{ localize 'MP.UsesChargesShort'}}
                    </label>
                </div>
                <div>
                    <input name="system.chargesused" type="number" value="{{system.chargesused}}" data-dtype="Number" placeholder="{{ localize 'MP.Used'}}" />/<input name="system.charges" type="number" value="{{system.charges}}" data-dtype="Number" placeholder="{{ localize 'MP.Max'}}" />
                </div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Endurance.abbr'}}
                </div>
                <div title="{{ localize 'BC.Endurance.fullname'}}" class="separator">
                    <input name="system.enbonus" type="number" value="{{system.enbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Power'}}</div>
                <div title="{{ localize 'MP.Power'}}">
                    <input name="system.powerbonus" type="number" value="{{system.powerbonus}}" data-dtype="Number" />
                </div>

                <div>
                    <label class="checkbox" title="{{ localize 'MP.IsGearDesc'}}">
                        <input type="checkbox" name="system.isgear" {{checked system.isgear}}>
                        {{ localize 'MP.IsGear'}}
                    </label>
                </div>
                <div></div>
                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Agility.abbr'}}  
                </div>
                <div title="{{ localize 'BC.Agility.fullname'}}" class="separator">
                    <input name="system.agbonus" type="number" value="{{system.agbonus}}" data-dtype="Number" />
                </div>


                <div>{{ localize 'MP.HitPoints'}}</div>
                <div title="{{ localize 'MP.HitPoints'}}">
                    <input name="system.hpbonus" type="number" value="{{system.hpbonus}}" data-dtype="Number" />
                </div>


                <div>
                    <label class="checkbox" title="{{ localize 'MP.Integral'}}">
                        <input type="checkbox" name="system.integral" {{checked system.integral}}>
                        {{ localize 'MP.Integral'}}?
                    </label>
                </div>
                <div></div>

                <!-- row end -->

                <!-- row start -->
                <div>
                    {{ localize 'BC.Intelligence.abbr'}}
                </div>
                <div title="{{ localize 'BC.Intelligence.fullname'}}" class="separator">
                    <input name="system.inbonus" type="number" value="{{system.inbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Abbreviations.Maneuverability'}}</div>
                <div title="{{ localize 'MP.Maneuverability'}}">
                    <input name="system.maneuverability" type="number" value="{{system.maneuverability}}" data-dtype="Number" />
                </div>

                <div>
                    <label class="checkbox" title="{{ localize 'MP.Open'}}">
                        <input type="checkbox" name="system.open" {{checked system.open}}>
                        {{ localize 'MP.Open'}}?
                    </label>
                </div>
                <div></div>

                <!-- row end -->

                <!-- row start -->
                <div >
                    {{ localize 'BC.Cool.abbr'}}
                </div>
                <div title="{{ localize 'BC.Cool.fullname'}}" class="separator">
                    <input name="system.clbonus" type="number" value="{{system.clbonus}}" data-dtype="Number" />
                </div>

                <div>{{ localize 'MP.Bulky'}}</div>
                <div title="{{ localize 'MP.Bulky'}}">
                    <input name="system.bulky" type="number" value="{{system.bulky}}" data-dtype="Number" />   
                </div>

                <div>
                    <label class="checkbox" title="{{ localize 'MP.IndependentPower'}}">
                        <input type="checkbox" name="system.indpower" {{checked system.indpower}}>
                        {{ localize 'MP.Abbreviations.IndependentPower'}}?
                    </label>
                </div>
                <div>
                    <input name="system.powervalue" type="number" value="{{system.powervalue}}" data-dtype="Number" placeholder="{{ localize 'MP.Used'}}" />/<input name="system.powermax" type="number" value="{{system.powermax}}" data-dtype="Number" placeholder="{{ localize 'MP.Max'}}" />
                </div>                
                <!-- row end -->


                <!-- row start -->
                <div >
                    
                </div>
                <div class="separator">
                </div>

                <div>{{ localize 'MP.Delicate'}}</div>
                <div title="{{ localize 'MP.Delicate'}}">
                    <input name="system.delicate" type="number" value="{{system.delicate}}" data-dtype="Number" />
                </div>


                <div></div>
                <div></div>
                <!-- row end -->

            </div>
        </div>

        {{!-- Mechanics Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            <div class="ruletab">
                <!-- {{localize 'MP.Rules'}} -->
                {{editor enrichedRules target="system.rules" editable=editable button=true}}
            </div>
        </div>

    </section>
</form>
